<div class="row test">
	<div class="cover-container">
		<div class="inner cover">
			<h1 class="cover-heading">Lucy and Greg cleaning services</h1>
			<p class="lead">
				We are a family business with an experience of over 9 years in domestic and office cleaning. We offer a wide range of services and we are flexible to adapt and cater for our customer's needs. Those needs vary from customer to customer depending on many different variables like budget, house size/office size, personal preferences and many more.
			</p>
			<p class="lead">
				We clean small and big houses. Small and big offices. We take an individual approach to each client and our long term clients value our dedication, commitment, reliability and trustworthiness.
			</p>
			<p>
				<a href="services" class="btn btn-lg btn-primary">Learn more</a>
			</p>
			<footer class="footer">
				<p>
					&copy; Lukasz Czapiga
				</p>
			</footer>
		</div>

	</div>

</div>