<div class="row">
	<div class="cover-container">
		<div class="inner cover">
			<h1 class="cover-heading">Services</h1>
			<p class="lead">
				Our services include the whole range of cleaning preferences which are usually agreed upon the first visit. We approach each client individualy to fit our service to their needs and requirements.
			</p>
			<div class="list-group">
				<h4 class="list-group-item-heading"> Domestic cleaning</h4>
				<p class="list-group-item-text">
					Whole house, bathroom, kitchen, bedrooms.
				</p>
				<p class="list-group-item-text">
					Prices starting from £12 per hour
				</p>
				<h4 class="list-group-item-heading"> Office cleaning </h4>
				<p class="list-group-item-text">
					Subject to agreed terms.
				</p>
				<p class="list-group-item-text">
					Contact us for a free evaluation.
				</p>
				<h4 class="list-group-item-heading"> End of Tenancy cleaning </h4>
				<p class="list-group-item-text">
					Whole house, bathroom, kitchen, bedrooms.
				</p>
				<p class="list-group-item-text">
					Prices starting from £12 per hour
				</p>
				<h4 class="list-group-item-heading"> Spring/Deep cleaning </h4>
				<p class="list-group-item-text">
					Prices starting from £12 per hour
				</p>
			</div>
			<footer class="footer">
				<p>
					&copy; Lukasz Czapiga
				</p>
			</footer>
		</div>
	</div>
</div>
